NEXT_PUBLIC_SUPABASE_URL=https://rquhakdxqdoqwqsivgga.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxdWhha2R4cWRvcXdxc2l2Z2dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1ODg0MjgsImV4cCI6MjA5MDE2NDQyOH0.QTyds7vKjqrBBGxq9Nqufng_5Qaw9w6ObgdhguAq2NM
